@model OnlineFurnitureStore.DAL.Tbl_ShippingDetails
@{
    ViewBag.Title = "ShippingDetails";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}


<div class="sub_page">
    <!-- contact section -->
    <section class="contact_section layout_padding">
        <div class="container ">
            <div class="heading_container">
                <h2 class="">
                    Add Shipping Details
                </h2>
            </div>

        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    @using (Html.BeginForm("ShippingDetails", "Home", FormMethod.Post))
                    {
                    <div>
                        <label>Address:</label>
                        @Html.TextBoxFor(model => model.Adress, new { placeholder = "Enter your Address", @rows = "3", @class = "form-control" })
                    </div>
                    <div>
                        <label>Country name:</label>
                        @Html.TextBoxFor(model => model.Country)
                    </div>
                    <div>
                        <label>State Name:</label>
                        @Html.TextBoxFor(model => model.State)
                    </div>
                    <div>
                        <label>City Name:</label>
                        @Html.TextBoxFor(model => model.City)
                    </div>
                    <div>
                        <label>Zip Code:</label>
                        @Html.TextBoxFor(model => model.ZipCode)
                    </div>
                    <div>
                        <label>Member Name:</label>
                        <input type="text" id="MemberName" name="MemberName" value="@ViewBag.MemberName" readonly />
                        <input type="hidden" id="MemberId" name="MemberId" value="@ViewBag.MemberId" />

                    </div>

                        <br />

                        <div>
                            <label>Amount to Pay:</label>
                            @Html.TextBoxFor(model => model.AmountPaid, new { @readonly = "readonly", @Value = Session["SesTotal"] })
                        </div>

                        <br />
                        <div>
                            <label>Payment Type:</label>
                           <br />
                                @Html.RadioButtonFor(model => model.PaymentType, "CashOnDelivery", new { @checked = "checked" }) Cash on Delivery

                        <div id="cashOnDeliveryDetails">
                            @{
                                decimal totalAmount = 0; // Default value in case Session["SesTotal"] is null or not convertible to int
                                                         // Check if Session["SesTotal"] is not null and is convertible to int
                                if (Session["SesTotal"] != null && int.TryParse(Session["SesTotal"].ToString(), out int sesTotal))
                                {
                                    // Calculate the total amount by adding the fixed shipping amount (200) to sesTotal
                                    totalAmount = sesTotal + 200;
                                }
                            }
                            <p>Shipping Amount: 200</p>
                            <label>Total Amount to Paid:</label>
                            @Html.TextBoxFor(model => model.AmountPaid, new { @readonly = "readonly", @Value = totalAmount })
                        </div>

                                @Html.RadioButtonFor(model => model.PaymentType, "DebitCard") Debit Card
                        <div id="debitCardDetails" style="display:none;">
                            <label>Debit Card Number:</label>
                            <input type="text" id="DebitCardNumber" name="DebitCardNumber" placeholder="Enter Debit Card Number" />
                            <label>Debit Card Expiry Date:</label>
                            <input type="text" id="DebitCardExpiry" name="DebitCardExpiry" placeholder="Enter Expiry Date" />
                        </div>
                            
                        </div>


                        <div class="d-flex ">
                            <button>
                                View All Details
                            </button>
                        </div>
                    }
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
</div>
@section scripts{

    @*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@
    <script>
        $(document).ready(function () {
            // Initial check to determine which details to show
            if ($('#cashOnDeliveryRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').show();
                $('#debitCardDetails').hide();
            } else if ($('#debitCardRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').hide();
                $('#debitCardDetails').show();
            }

        });
    </script>
}